<h1>Tasks</h1>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Task</th>
            <th>Done</th>
            <th class="text-center">
                <a class="btn btn-xs btn-outline-success" [routerLink]="['/tasks/add']">
                    New Task
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks" [class.table-success]="task.task_done">
            <td>
                {{ task.task_name }}
            </td>
            <td style="width: 70px" class="text-center">
                <input type="checkbox" class="form-check-input" [value] = "task.task_id" [checked] = "task.task_done" (click) = "changeDone(task)">
            </td>
            <td class="text-center" style="width: 200px">
                <a [routerLink]="['/tasks/edit', task.task_id]" title="Editar" alt="Editar" class="btn btn-xs btn-outline-info">
                    Edit Task
                </a>
                <a href="#" title="Remover" alt="Remover" class="btn btn-xs btn-outline-danger" (click)="remove($event, task)">
                    Remove Task
                </a>
            </td>
        </tr>
    </tbody>
</table>

<p *ngIf="tasks.length == 0" [class.bg-warning]="tasks.length == 0" class="text-center">No task available.</p>